:root {
  --accent-color: #2196f3;
  --accent-btn-color: #188ce8;
  --background-color: #ffffff;
  --text-color-main: #212121;
  --text-color-secondary: #757575;
  --footer-text-color: #2f303a;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

body {
  font-family: Roboto, sans-serif;
  letter-spacing: 0.03em;

  color: var(--text-color-main);
  background-color: var(--background-color);
}

/* All site */

.link {
  text-decoration: none;
}

.list {
  list-style: none;
}

.header-box {
  padding-top: 24px;
  padding-bottom: 25;
}

/* Site nav */

.text {
  display: flex;
  align-items: center;
}

.nav-list {
  display: flex;
}

.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  margin-right: 93px;
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  color: var(--accent-color);
}

.logo-accent {
  color: var(--text-color-main);
}

.logo-accent:hover,
.logo-accent:focus {
  color: var(--accent-color);
}

.text-nav-one {
  margin-right: 50px;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--text-color-main);
}

.text-nav-one:hover,
.text-nav-one:focus {
  color: var(--accent-color);
}

.text-nav-one.current,
.text-nav-two.current {
  color: var(--accent-color);
}

.text-nav-two {
  margin-right: 50px;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--text-color-main);
}

.text-nav-two:hover,
.text-nav-two:focus {
  color: var(--accent-color);
}

.text-nav-tree {
  margin-right: 0;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--text-color-main);
}

.text-nav-tree:hover,
.text-nav-tree:focus {
  color: var(--accent-color);
}

.text-mail {
  margin-right: 50px;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--text-color-secondary);
}

.text-tel {
  margin-right: 0;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--text-color-secondary);
}

.text-tel:hover,
.text-tel:focus {
  color: var(--accent-color);
}

/* main hero */

.hero-btn {
  cursor: pointer;
}

.hero {
  background-color: #2f303a;
}

.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--background-color);
}

.hero-btn {
  font-family: Roboto, sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  color: var(--background-color);
  background-color: var(--accent-color);

  border: none;
  border-radius: 4px;
}

.hero-btn:hover,
:focus {
  background-color: var(--accent-btn-color);
}

/* Преимущества */
.item-text {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--text-color-main);
}

.item-info {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--text-color-secondary);
}

/* Виды услуг */

.title-hedding {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  color: var(--text-color-main);
}

/* Team */

.section-team {
  background-color: #f5f4fa;
}

.title-team {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  color: var(--text-color-main);
}

.team-caption {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  color: var(--text-color-main);
}

.info-team {
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  color: var(--text-color-secondary);
}

/* Футер */
.footer-list {
  background-color: #2f303a;
}

.logo {
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  color: var(--accent-color);
}

.logo-accent {
  color: var(--text-color-main);
}

.footer-info {
  font-style: normal;
}

.logo-accent:hover,
.logo-accent:focus {
  color: var(--accent-color);
}

.address-footer {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--background-color);
}

.address-footer {
  color: var(--background-color);
}

.address-footer:hover,
.address-footer:focus {
  color: var(--accent-color);
}

.mail-footer {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.mail-footer:hover,
.mail-footer:focus {
  color: var(--accent-color);
}

.tel-footer {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.tel-footer {
  color: rgba(255, 255, 255, 0.6);
}

.tel-footer:hover,
.tel-footer:focus {
  color: var(--accent-color);
}

/* Страница 2 */

.logo-accent {
  color: var(--text-color-main);
}

.logo-accent:hover,
.logo-accent:focus {
  color: var(--accent-color);
}

.text-nav-tree:hover,
.text-nav-tree:focus {
  color: var(--accent-color);
}

.text-mail {
  font-size: 14px;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--text-color-secondary);
}

.text-mail:hover,
.text-mail:focus {
  color: var(--accent-color);
}

.text-tel {
  font-size: 14px;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--text-color-secondary);
}

.text-tel:hover,
.text-tel:focus {
  color: var(--accent-color);
}

/* Кнопки */

.list-button {
  cursor: pointer;
}

.list-button {
  font-family: Roboto, sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  letter-spacing: 0.03em;
  color: var(--text-color-main);

  border: none;
  border-radius: 4px;
}

.list-button:hover,
.list-button:focus {
  color: var(--background-color);
}

.portfolio-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--text-color-main);
}

.portfolio-item {
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: var(--text-color-secondary);
}

.logo {
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  color: var(--accent-color);
}

.logo-back {
  color: var(--background-color);
}

.logo-accent:hover,
.logo-accent:focus {
  color: var(--accent-color);
}

.address-footer {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--background-color);
}

.address-footer:hover,
.address-footer:focus {
  color: var(--accent-color);
}

.mail-footer {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.mail-footer:hover,
.mail-footer:focus {
  color: var(--accent-color);
}

.tel-footer {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.tel-footer:hover,
.tel-footer:focus {
  color: var(--accent-color);
}
